body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

button {
  background-color: #5f9341;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}
